/* Raw Color Palette Variables */
:root {
  --c-raw-000: #121316;
  --c-raw-001: #1a1b20;
  --c-raw-002: #22242b;
  --c-raw-003: #2e313b;
  --c-raw-004: #1e1e1e;
  --c-raw-005: #007acc;
  --c-raw-006: #0098ff;
  --c-raw-007: rgba(0, 122, 204, 0.25);
  --c-raw-008: #388a34;
  --c-raw-009: #4ec946;
  --c-raw-010: #d7ba7d;
  --c-raw-011: #f44747;
  --c-raw-012: #e6e6e6;
  --c-raw-013: #9da5b4;
  --c-raw-014: #5c6370;
  --c-raw-015: #ffffff;
  --c-raw-016: #18191f;
  --c-raw-017: #141519;
  --c-raw-018: rgba(0, 0, 0, 0.35);
  --c-raw-019: rgba(0, 0, 0, 0.5);
  --c-raw-020: rgba(0, 0, 0, 0.7);
  --c-raw-021: rgba(90, 93, 94, 0.35);
  --c-raw-022: rgba(115, 118, 120, 0.5);
  --c-raw-023: rgba(135, 138, 140, 0.65);
  --c-raw-024: rgba(255, 255, 255, 0.08);
  --c-raw-025: rgba(255, 255, 255, 0.1);
  --c-raw-026: rgba(90, 93, 94, 0.08);
  --c-raw-027: rgba(115, 118, 120, 0.1);
  --c-raw-028: rgba(135, 138, 140, 0.14);
  --c-raw-029: rgba(255, 255, 255, 0.15);
}
